 .u-section-1 {
  background-image: url("22cc4d82eafc318204269571395dc0ad1584703f2e31e11daa74adc4696d52cf815dc1328da248d5532f8dcc0ef3b35c4049badb46fb3f528bff7e_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 819px;
}

.u-section-1 .u-group-1 {
  width: 476px;
  min-height: 471px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  height: auto;
  margin: 86px 0 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 27px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 27px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 19.02% 47.84%;
    background-size: auto 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-1 .u-group-1 {
    width: 388px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 463px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-1 .u-group-1 {
    width: 290px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 799px;
}

.u-section-2 .u-product-1 {
  min-height: 679px;
  background-image: none;
  margin-top: 60px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 1px 30px 0;
}

.u-section-2 .u-image-1 {
  width: 453px;
  height: 677px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-1 {
  width: 537px;
  min-height: 563px;
  height: auto;
  background-image: none;
  margin: -620px 30px 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 4px;
  margin: 0 auto;
}

.u-section-2 .u-product-price-1 {
  margin: 30px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 15px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 60px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-2 .u-product-1 {
    min-height: 561px;
    margin-top: 11px;
    margin-bottom: 11px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-2 .u-image-1 {
    width: 350px;
    height: 559px;
    margin-top: 1px;
  }

  .u-section-2 .u-group-1 {
    width: 440px;
    min-height: 441px;
    margin-top: -500px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1003px;
  }

  .u-section-2 .u-product-1 {
    min-height: 826px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 407px;
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    min-height: 352px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-product-1 {
    min-height: 864px;
    margin-bottom: 22px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-1 {
    min-height: 392px;
    width: 350px;
    margin-left: 85px;
    margin-right: 85px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 901px;
  }

  .u-section-2 .u-product-1 {
    min-height: 781px;
    margin-bottom: 15px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 372px;
  }

  .u-section-2 .u-group-1 {
    min-height: 422px;
    width: 320px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }
}